.houseList {
  width: 96%;
  margin: 0 2%;
  padding: 0.32rem 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  text-align: center;
  background: #fff;
}

.house {
  -webkit-flex: 0 0 50%;
  flex: 0 0 50%;
}

.houseTop {
  display: inline-block;
  width: 4.266667rem;
  height: 2.933333rem;
}

.houseTop img {
  width: 100%;
  height: 100%;
  border-radius: 0.133333rem;
}

.houseBottom {
  overflow: hidden;
}

.houseTitle {
  padding: 0;
  height: 1.066667rem;
  margin: 0 auto;
  width: 4.266667rem;
  font-size: 0.4rem;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.priceInfo {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
}

.price {
  width: 95%;
  margin: 0.2rem 2% 0.2rem;
  height: 0.426667rem;
  line-height: 0.426667rem;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  /*超出部分隐藏*/
  text-align: left;
  text-overflow: ellipsis;
  /* 超出部分显示省略号 */
  white-space: nowrap;
  /*规定段落中的文本不进行换行 */
}

.priceInfo .opt {
  margin-top: 0.066667rem;
}

.priceInfo .opt img {
  height: 0.56rem;
  width: 1.586667rem;
}

.price img {
  margin-left: 0.16rem;
  width: 0.8rem;
  height: 0.426667rem;
  vertical-align: top;
}

.truePrice {
  display: inline-block;
  font-size: 0.373333rem;
  height: 100%;
  color: #eb2a4f;
}

.truePrice .symbol {
  font-style: normal;
  font-size: .8em;
}

.standardPrice {
  display: inline-block;
  height: 100%;
  margin-left: 0.133333rem;
  font-size: 0.266667rem;
  text-decoration: line-through;
  color: #b7b8b9;
}