@mixin b($block) {
    $B: $--namespace + '-' + $block !global;
    .#{$B} {
        @content;
    }
}

@mixin e($element) {
    $E: $element !global;
    $selector: &;
    $current: '';
    @each $unit in $element {
        $current: #{$current + "." + $B + $--separator-e + $unit + ","};
    }
    @at-root {
        #{$current} {
            @content;
        }
    }
}

@mixin m($modifier) {
    $selector: &;
    $current: '';
    @each $unit in $modifier {
        $current: #{$current + & + $--separator-m + $unit + ","};
    }
    @at-root {
        #{$current} {
            @content;
        }
    }
}

@mixin when($state) {
    @at-root {
        &.#{$--prefix-when + $state} {
            @content;
        }
    }
}

