.receiveTicket {
    width: 100%;
}

.main, .receiveTicket {
    position: static;
}

.discount-row {
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
}

.discount-img {
    display: inline-block;
    width: 341px;
    height: 175px;
}

body, .shuqiContainer .appointment {
    background-color: #FA8282;
}

.receiveTicket .takeBtn {
    width: 327px;
    height: 111px;
    margin-bottom: 0;
}

.receive-tab, .receive-tab * {
    box-sizing: border-box;
}

.receive-tab {
    width: 96%;
    display: flex;
    flex-flow: row nowrap;
    margin: 0.266667rem 2% 0;
    padding-bottom: 0.533333rem;
}

.tab-item {
    flex: 1 1 181px;
    width: 181px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 28px;
    color: #FA8282;
    background-color: #fff;
}

.tab-item.active {
    color: #fff;
    background-color: #FFC188;
}

.dialog-success .jumpToCoupon {
    top: 68%;
}

.first-project-top {
    width: 447px;
    height: 90px;
}

.houseTitle {
    min-height: 1.1rem;
}
