.content {
    width: 100%;
    background: #ededed;
    background-image: url(../images/bg2.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 1000px 80px 140px 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
}