.auth-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
}

.auth-modal .mark {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.auth-modal .auth-modal--view {
    position: absolute;
    width: 600px;
    max-height: 662px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
    margin: auto;
    background-color: white;
    border-radius: 17px;
    padding: 40px 20px;
    box-sizing: border-box;
}

.auth-modal .auth-modal--view .logo {
    width: 93px;
    height: 93px;
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
}

.auth-modal .auth-modal--view .auth-modal-title {
    text-align: center;
    font-size: 36px;
    line-height: 36px;
    font-family: "PingFangSC-Regular";
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    color: #484848;
}

.auth-modal .auth-modal--view .auth-modal-des {
    display: flex;
    flex-flow: column nowrap;
    font-size: 30px;
    color: #555555;
    text-align: center;
}

.auth-form {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.auth-form .auth-form--item {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    height: 130px;
    margin: 0 20px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}

.auth-form .auth-form--item input {
    border: 0px;
    font-size: 30px;
    height: 70px;
    outline: none;
    vertical-align: middle;
}

.auth-form .auth-form--item .lable {
    font-size: 30px;
    margin-right: 20px;
}


.auth-form  .auth-form--item .auth-form--mobile {
    width: 0;
    flex: 1;
}

.auth-form  .auth-form--item .auth-form--code {
    width: 0;
    flex: 1;
}

.auth-form .auth-form--item .count {
    text-align: center;
    width: 144px;
    height: 46px;
    line-height: 46px;
    border-radius: 8px;
    padding: 0;
    font-family: "PingFangSC-Regular";
    font-size: 22px;
    border: solid 1px #e84358;
    background-color: #ffffff;
    color: #e84358;

}

.btn-box {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    text-align: center;
}

.btn-box button {
    margin: 0;
    padding: 0;
    outline: none;
    width: 270px;
    height: 80px;
    line-height: 80px;
    border-radius: 12px;
    font-size: 28px;
    border: 1px solid #e84358;
    display: inline-block;
    font-family: "PingFangSC-Regular";
}

.btn-box .btn__cancel {
    background-color: #fff;
    color: #e84358;
}

.btn-box .btn__login {
    background-color: #e84358;
    color: #fff;
}