.btn {
    position: relative;
    width: 637px;
    height: 100px;
    margin: 20px auto;
}

.btn-img {
    width: 100%;
    height: auto;
    animation: tada infinite 1s 1s;
}

.tap-img {
    position: absolute;
    width: 76px;
    height: 80px;
    right: 0;
    bottom: -10px;
}


@keyframes tada {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    10%,
    20% {
      transform: scale3d(0.95, 0.95, 0.95) rotate3d(0, 0, 1, -3deg);
    }
  
    30%,
    50%,
    70%,
    90% {
      transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 3deg);
    }
  
    40%,
    60%,
    80% {
      transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -3deg);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }