.form {
  position: absolute;
  height: 360px;
  width: 100%;
  top: 1130px;
  left: 0;
}
.com {
  width: 630px;
  height: 90px;
  display: inline-block;
  margin-bottom: 40px;
  position: relative;
}
.com input {
  width: 100%;
  height: 100%;
  font-size: 32px;
  border-radius: 10px;
  /* background-color: rgba(255, 255, 255, 1); */
  text-align: center;
  font-weight: 100;
  border: none;
  display: inline-block;
}
.bgInput{
  background-image:url('https://locals-house-prod.oss-cn-shenzhen.aliyuncs.com//localhomeqy/gjh/btn003.png'); 
  background-repeat:no-repeat; 
  background-size: 100% 100%;
}
.img {
  width: 100%;
  height: 100%;
}
.loadingCom{
  width: 100%;
  height: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 32px;
  line-height: 90px;
}
.loading{
  height: 50px;
  margin: 10px 0 10px 20px;
  vertical-align: top;
  width: 50px;
}
.info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  letter-spacing: 10px;
}

#file{
  display: none;
}
.uploadSuccess{
  color: #ffffff;
  font-size: 32px;
  line-height: 70px;
}