// Create GTC-base
$gtc-center: #2B29D6 !default;
$gtc-black: #252525 !default;
$gtc-gray: #444444 !default;
$gtc-banner-h: 1060px !default;
$gtc-serv-btn-w: 124px !default;
$gtc-serv-btn-h: 38px !default;
$gtc-card-hight: 416px !default;

// Create GTC-other
$gtc-font-big: 68px !default;
$gtc-font-h1: 48px !default;
$gtc-font-lg: 26px !default;
$gtc-font-md: 18px !default;
$gtc-font-30: 30px !default;
$gtc-space-30: 30px !default;
$gtc-space-40: 40px !default;
$gtc-space-50: 50px !default;
$gtc-space-60: 60px !default;
$gtc-space-70: 70px !default;
$gtc-space-80: 80px !default;
$gtc-space-100: 100px !default;
$gtc-space-26: 26px !default;
