.container {
    margin: 28rpx 30rpx 100px;
}

.trade-type {
    display: flex;
    height: 62rpx;
    border-bottom: 1rpx solid #979797;
    font-size: 14px;
    &__btn {
        text-align: center;
        color: #333333;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    &--select {
        color: #E84358;
    }
    &__bar {
        width: 116rpx;
        height: 4rpx;
        background: #E84358;
        position: absolute;
        bottom: -2rpx;
        left: 50%;
        transform: translateX(-50%);
    }
}

.address {
    margin-bottom: 30rpx;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0rpx 6rpx 32rpx 0rpx rgba(215, 215, 215, 0.5);
    border-radius: 8rpx;
    padding: 14rpx 40rpx 14rpx 40rpx;
    font-size: 32rpx;
    color: rgba(51, 51, 51, 1);
}

.noAddress {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90rpx;
}

.haveAddress {
    position: relative;

    &__arrow {
        position: absolute;
        right: 0;
        margin: auto;
        top: 50%;
        transform: translateY(-50%);
    }

    &__area {
        color: #999 !important;
        font-weight: bold;
    }
}

.haveAddress>text {
    display: flex;
    font-size: 14px;
    color: #333;
    margin-bottom: 14rpx;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal
}

.address>view .img {
    float: right;
}

.commodity-detail {
    background: rgba(255, 254, 255, 1);
    box-shadow: 0rpx 6rpx 32rpx 0rpx rgba(215, 215, 215, 0.5);
    border-radius: 8rpx;
    padding: 34rpx 42rpx;
}

.commodity-detail .info {
    position: relative;
}

.productImg {
    flex: 206
}

.goods-wrap {
    background: #fff;
    border-radius: 8rpx;
    padding: 34rpx 42rpx 32rpx 42rpx;
    box-shadow: 0 6rpx 32rpx rgba(215, 215, 215, 0.5);
}

.info-wrap {
    display: flex;
}

.info-wrap .cover {
    width: 206rpx;
    height: 206rpx;
}

.info-wrap .desc-wrap {
    margin-left: 40rpx;
    flex: 1;        
}

.info-wrap .desc-wrap .title {
    font-size: 16px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    line-height: 22px;
    margin-bottom: 8rpx;
}

.info-wrap .desc-wrap .standard {
    font-size: 13px;
    margin-bottom: 34rpx;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
    line-height: 18px;
}

.info-wrap .desc-wrap .price-wrap {
    display: flex;
    justify-content: space-between;
}

.info-wrap .desc-wrap .price-wrap .price {
    font-size: 16px;
    font-family: DIN-Medium;
    font-weight: 500;
    color: rgba(232, 67, 88, 1);
    line-height: 30px;
}


.num {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    line-height: 20px;
    margin-top: 15rpx;
    align-items: center;

    &__limit {
        color: #E84358;
    }
}

.num .action-wrap {
    display: flex;
    align-items: center;
}

.num .action-wrap>image {
    width: 20rpx;
    height: 20rpx;
    padding: 25rpx 25rpx;
}

.num .action-wrap>view {
    font-size: 16px;
    font-family: DIN-Medium;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    line-height: 19px;
    margin: 0 10rpx;
    width: 50rpx;
    text-align: center;
}

.transport {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    line-height: 20px;
    margin-top: 16rpx;
    border-top: 2rpx rgba(245, 245, 245, 1) solid;
    padding-top: 30rpx;
    align-items: center;
}

.transport__way {
    color: rgba(153, 153, 153, 1);
}

.grey__more {
    width: 12rpx;
    height: 20rpx;
    margin-left: 4rpx;
}

.transport-hint {
    font-size: 11px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
    line-height: 16px;
    text-align: right;
    margin-top: 4rpx;
}

.promotion {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-family: PingFang-SC-Medium;
    color: rgba(51, 51, 51, 1);
    line-height: 20px;
    margin-top: 16rpx;
    border-top: 2rpx rgba(245, 245, 245, 1) solid;
    padding-top: 30rpx;
}

.promotion__content {
    font-size: 14px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(232, 67, 88, 1);
    line-height: 20px;
    display: flex;
    align-items: center;
}

.ps {
    margin-top: 30rpx;
    padding-top: 30rpx;
    justify-content: space-between;
    font-size: 14px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    line-height: 20px;
    border-top: 2rpx rgba(245, 245, 245, 1) solid;
}

.ps>input {
    margin-top: 6rpx;
    font-size: 14px;
    color: #333;
}

.input-placeholder {
    color: rgba(221, 221, 221, 1);
}

.submit {
    margin: 22rpx 30rpx;
    background: #E84358;
    border-radius: 8rpx;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    height: 88rpx;
    line-height: 88rpx;
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.buy-wrap {
    height: 98rpx;
    width: 100%;
    display: flex;
    font-size: 16px;
    font-family: DIN-Medium;
    font-weight: 500;
    color: rgba(232, 67, 88, 1);
    line-height: 30px;
}

.final__price {
    border-top: 2rpx solid rgba(245, 245, 245, 1);
    flex: 1;
    line-height: 98rpx;
    padding-left: 30rpx;
    font-size: 18px;
}

.buy-wrap .submit {
    position: inherit;
    margin: 0;
    width: 296rpx;
    border-radius: 0;
    height: 98rpx;
    line-height: 98rpx;
}