# See https://help.github.com/ignore-files/ for more about ignoring files.

# 忽略环境变量
/config/env-config.js

# dependencies
/node_modules

# testing
/coverage

# production
/build
/.rakeTasks
/out/

.vscode/
.history
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea_modules/
.idea/replstate.xml
.idea/sonarlint

cmake-build-debug/

*.iws

atlassian-ide-plugin.xml

com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
README.md
.gitee/ISSUE_TEMPLATE.zh-CN.md
.gitee/PULL_REQUEST_TEMPLATE.zh-CN.md
.idea/locals-official-native-weapp.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
