/* pages/tipspage/insurance/index.wxss */
.page{
  padding: 0 40px;
}
.title{
  font-size: 30px;
  font-weight: bold;
  padding: 60px 0 60px 0;
  position: relative;
}
.section{
  position: relative;
  padding: 40px 0;
}
.section-title{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
}
.table{
  border: 2px solid #e84358;
  border-bottom: 0;
  font-size: 26px;
  font-weight: 200;
  color: #666;
  background-color: #fce7e9;
}
.tr{
  display: flex;
  border-bottom: 2px solid #e84358;
}
.td{
  min-height: 80px;
  display: flex;
  align-items: center;
}
.tr .td:nth-child(1){
  width: 70%;
  border-right: 2px solid #e84358;
  padding-left: 20px;
}
.tr .td:nth-child(2){
  width: 30%;
  justify-content: center;
}
.section-content{
  font-size: 20px;
  color: #666;
}
.section-content span {
  
}
.main-text {
  font-weight:bold;
  color: #333;
}