@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

#root {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #ffffff;
}
p {
  margin: 0;
  padding: 0;
}
input::-webkit-input-placeholder {
  color: #acacac;
}
input input::-webkit-input-placeholder {
  color: #acacac;
}

/* ----------------------- detail ----------------------------- */
.Detail-top{

}
.Detail-top img{
  width: 100%;
}