html,body{
    width: 100%;
    background:#111e48; 
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background:#76adcc;

    &>img{
        width: 100%;
        vertical-align: bottom;
    }
    &>a{
        font-size: 36px;
        padding: 20px 50px;
        box-shadow: 0 6px 0 #ffc547;
        border-radius: 16px;
        background: #fdff5c;
        border: none;
        outline: none;
        font-weight: bold;
        position: relative;
        top: -100px;
        line-height: 36px;
        text-decoration: none;
        color: #000;
    }
    .rule{
        margin: 0 30px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #65d5e3;
        border-radius: 16px;
        padding: 40px 24px 24px 24px;
        h2{
            font-size: 50px;
            font-weight: bold;
            margin-bottom: 50px;
        }
        .rule-wrap{
            border: 2px solid #182947;
            border-top: none;
            // padding: 0 22px 22px 22px;
            border-radius: 16px;
            overflow: hidden;
            margin-bottom: 40px;
            .title{
                width: 100%;
                padding: 10px 0;
                background: #182947;
                font-size: 34px;
                color: #fbff5e;
                text-align: center;
                
            }
            .content{
                padding: 22px;
                line-height: 50px;
                font-size:30px;
                line-height: 50px;
                padding-left: 50px;
                li{
                    text-indent: -0.5em;
                }
            }
        }
        .rule-desc{
            padding:22px;
            padding-top: 0;
            border-radius: 16px;
            font-size: 30px;
            .desc-title{
                font-weight: bold;
                font-size: 30px;
                margin-bottom: 20px;
            }
            .desc-content{
                font-size: 24px;
                line-height: 40px;
            }
        }
        &>p{
            margin-top: 10px;
            font-size: 24px;
        }
        &>img{
            width: 100%;
        }
    }
    
}
.guide{
    width: 100%;
    opacity: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    
    img{
        width: 100%;
        // transition: all 1500ms linear;
        vertical-align: bottom;
        transition: all 2000ms ease-in;
        transform: translateY(10%);
        opacity: 0;
        // position: relative;
        // top:0;
    }
}
.guide .goup{
    transform: translateY(-45%) !important;
}
.guide .show {
    transform: translateY(0);
    opacity: 1;
}
.fade{
    opacity: 0;
    display: none;
}