.bargain-buddy {
    width: 696px;
    margin: 35px 27px;
    box-shadow: 0px 18px 36px 0px rgba(242, 195, 126, 0.3);
    overflow: hidden;
    background-color: #F2C37E;
}

.bargain-buddy-head {
    width: 100%;
    height: 156px;
    background: url("https://locals-house-prod.oss-cn-shenzhen.aliyuncs.com/localhomeqy/bargaining/bargain-buddy-bg.png") no-repeat;
    background-size: 100%;
}

.bargain-buddy-body {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    background-color: #FFF9EF;
    padding: 20px 0 40px;
    border-bottom-left-radius: 10px; /*no*/
    border-bottom-right-radius: 10px; /*no*/
}

.buddy {
    display: inline-block;
    width: 232px;
    height: 179px;
    margin-bottom: 20px;
    font-size: 0;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: normal;
    word-wrap: normal;
    white-space: nowrap;
}

.buddy-avatar {
    display: inline-block;
    width: 109px;
    height: 109px;
    margin: 0 61px;
    border-radius: 50%;
}

.buddy-name {
    width: 100%;
    height: 32px;
    line-height: 32px;
    font-size: 22px;
    font-family: SourceHanSansCN-Normal;
    font-weight: 400;
    color: rgba(67, 67, 67, 1);
    padding: 0 10px;
}

.buddy-bargaining-amount {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    font-family: SourceHanSansCN-Normal;
    font-weight: 400;
    color: #F74D42;
    padding: 0 10px;
}

.buddy-bargaining-amount > span {
    font-size: 27px;
    color: #F74D42;
    font-weight: 800;
}

.buddy-btn-row {
    width: 100%;
    padding-right: 20px;
    height: 40px;
    text-align: center;
}

.buddy-btn {
    display: inline-block;
    font-size: 30px;
    font-weight: 800;
    color: #F74D42;
    text-decoration: none;
}

.share-buddy-tip {
    width: 100%;
    height: 42px;
    font-size: 36px;
    font-family: SourceHanSansCN-Heavy;
    font-weight: 800;
    color: rgba(67, 67, 67, 1);
    text-align: center;
    letter-spacing: 0.15em;
    padding: 0;
    margin: 27px 0 0 0;
}
