.bargaining-progress-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    width: 696px;
    height: 481px;
    padding: 0 36px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #fff; /*no*/
    border-radius: 18px;
    box-shadow: 0px 18px 36px 0px rgba(154, 100, 13, 0.3);
    font-size: 0;
    z-index: 10;
}

.progress-title, .bargain-end {
    width: 100%;
    height: 42px;
    font-size: 42px;
    font-family: SourceHanSansCN-Heavy;
    font-weight: 800;
    color: rgba(67, 67, 67, 1);
    text-align: center;
    letter-spacing: 0.15em;
    padding: 0;
    margin: 27px 0 0 0;
}

.bargain-end {
    margin-top: 0;
}

.bargaining-count-down {
    padding: 28px 0 25px 0;
}

.amount-row {
    width: 100%;
    height: 50px;
    font-size: 38px;
    font-family: SourceHanSansCN-Heavy;
    font-weight: 800;
    color: rgba(67, 67, 67, 1);
    text-align: center;
    margin-bottom: 36px;
}

.amount {
    font-size: 48px;
    color: #F74D42;
}

.share-btn {
    width: 580px;
    height: 95px;
    background: url("https://locals-house-prod.oss-cn-shenzhen.aliyuncs.com/localhomeqy/bargaining/share-btn.png") no-repeat;
    background-size: 100%;
    margin-top: 20px;
}

.btn-row {
    width: 100%;
    height: 90px;
    margin-top: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.bargain-btn, .join-in-btn, .share-btn-sm {
    width: 292px;
    height: 100%;
    background: url("https://locals-house-prod.oss-cn-shenzhen.aliyuncs.com/localhomeqy/bargaining/bargain-btn.png") no-repeat;
    background-size: 100%;
}

.join-in-btn {
    background: url("https://locals-house-prod.oss-cn-shenzhen.aliyuncs.com/localhomeqy/bargaining/join-in-btn.png") no-repeat;
    background-size: 100%;
}

.share-btn-sm {
    background: url("https://locals-house-prod.oss-cn-shenzhen.aliyuncs.com/localhomeqy/bargaining/help-share-btn.png") no-repeat;
    background-size: 100%;
}

.tada {
    animation: tada-animate infinite 1s 1s;
}

@keyframes tada-animate {
    from {
        transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
        transform: scale3d(0.95, 0.95, 0.95) rotate3d(0, 0, 1, -3deg);
    }

    30%,
    50%,
    70%,
    90% {
        transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 3deg);
    }

    40%,
    60%,
    80% {
        transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -3deg);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}
