.result-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    width: 696px;
    padding: 26px 45px 26px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #fff; /*no*/
    border-radius: 18px;
    box-shadow: 0px 18px 36px 0px rgba(154, 100, 13, 0.3);
    font-size: 0;
    z-index: 10;
}

.result-title {
    width: 100%;
    height: 45px;
    font-size: 42px;
    font-family: SourceHanSansCN-Heavy;
    font-weight: 800;
    color: rgba(67, 67, 67, 1);
    text-align: center;
    letter-spacing: 0.1em;
}

.result-content {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}

.bargain-result {
    width: 100%;
    height: 45px;
    font-size: 38px;
    font-family: SourceHanSansCN-Heavy;
    font-weight: 800;
    color: rgba(67, 67, 67, 1);
    letter-spacing: 0.1em;
    text-align: center;
    margin: 20px 0 25px;
}

.bargain-amount {
    color: #F74D42;
    font-size: 45px;
    font-weight: 800;
}

.introduction {
    width: 100%;
    height: 80px;
    line-height: 40px;
    font-size: 29px;
    font-family: SourceHanSansCN-Normal;
    font-weight: 400;
    color: rgba(67, 67, 67, 1);
    text-align: center;
}

.qr-code {
    width: 265px;
    height: 299px;
    background: url("https://locals-house-prod.oss-cn-shenzhen.aliyuncs.com/localhomeqy/bargaining/qr-code.png") no-repeat;
    background-size: 100%;
}
