.scroll-container {
    width: 100%;
    height: 6rem;
    box-sizing: border-box;
}

.all-play-container {
    display: inline-block;
    width: 100%;
    height: 651px;
    background: url("https://locals-house-prod.oss-cn-shenzhen.aliyuncs.com/localhomeqy/bargaining/all-play-bg.png") no-repeat;
    background-size: 100%;
    padding: 147px 27px 51px 27px;
}

.player {
    width: calc(100% - 90px);
    height: 100%;
    margin: 0 45px;
    padding: 29px 0;
    border-bottom: 1px solid #EBD7B6; /*no*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.player-avatar {
    display: inline-block;
    width: 91px;
    min-width: 91px;
    height: 91px;
    border-radius: 50%;
}

.player-name {
    width: 130px;
    min-width: 130px;
    font-size: 29px;
    font-family: SourceHanSansCN-Normal;
    font-weight: 400;
    color: rgba(67, 67, 67, 1);
    margin: 0 27px 0 20px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: normal;
    word-wrap: normal;
    white-space: nowrap;
}

.player-bargaining-amount {
    flex-grow: 1;
    font-size: 29px;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    color: rgba(67, 67, 67, 1);
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: normal;
    word-wrap: normal;
    white-space: nowrap;
}

.player-bargaining-amount > span {
    color: #F74D42;
    font-weight: 800;
}
