.cell {
  display: flex;
  height: 108px;
}

.cell--left {
  text-align: center;
}

.cell--left .cell--left--img {
  display: inline-block;
  width: 88px;
  height: 88px;
  margin: 10px;
  border-radius: 100%;
}

.cell .cell--center--text {
  padding: 0 44px;
  font-size: 28px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: rgba(67, 67, 67, 1);
  line-height: 36px;
}

.cell--right {
  flex: 1;
}
