.topBanner {
  width: 100%;
  position: relative;
}
.topBanner .noIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 54px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}
.topBanner .baseImg {
  width: 100%;
}
.topBanner .haveIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.topBanner .haveIcon img {
  display: inline-block;
  width: 118px;
  height: 118px;
}
.topBanner .haveIcon span {
  display: block;
  font-size: 54px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}
