.app-container {
  width: 100%;
  box-sizing: border-box;
}

.banner {
  position: relative;
  width: 100%;
}

.banner .banner-img {
  width: 100%;
}

.banner .rules-btn {
  position: absolute;
  width: auto;
  height: 56px;
  line-height: 56px;
  top: 48px;
  right: 0;
  padding: 0 26px;
  background: rgba(255, 255, 255, 1);
  border-radius: 28px 0 0 28px;
  font-size: 30px;
  font-weight: 400;
  color: rgba(67, 67, 67, 1);
}

.bonus {
  /* padding-top: 40px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px 26px 0 26px;
}

.bonus .bonus-item {
  width: 50%;
  overflow: hidden;
  margin: 0 8px;
}

.bonus .bonus-item .bonus-item--title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: rgba(67, 67, 67, 1);
  line-height: 48px;
  margin-bottom: 16px;
}

.bonus .bonus-item .bonus-item--img {
  display: inline-block;
  width: 342px;
  height: 184px;
}

.invite-button {
  /* display: inline-block; */
  height: 72px;
  margin: 40px;
  line-height: 72px;
  /* width: 92%; */
  text-align: center;
  color: #fff;
  text-align: center;
  background: rgba(229, 62, 81, 1);
  border-radius: 36px;
  font-size: 32px;
  font-weight: 500;
}

.bonus-box {
  padding: 0 40px;
  box-sizing: border-box;
}

.bonus-card {
  box-sizing: border-box;
  padding: 26px 30px;
  width: 100%;
  min-height: 240px;
  display: flex;
  flex-direction: column;
  background: url('https://locals-house-prod.oss-cn-shenzhen.aliyuncs.com//localhomeqy/house_share_1bonus/bonus_card_bg.png')
    no-repeat;
  background-size: 100% 100%;
}

.bonus-card .title {
  font-size: 36px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  line-height: 54px;
}

.bonus-card .content {
  flex: 1;
}

.bonus-card .content .text__bottom__small {
  font-size: 52px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  line-height: 78px;
}

.bonus-card .content .text__big {
  font-size: 108px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  line-height: 140px;
}

.bonus-card .des {
  font-size: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  line-height: 22px;
}

.invite-records {
  margin: 30px 0;
  box-sizing: border-box;
}

.invite-panel .header {
  text-align: center;
}

.invite-panel .header .title {
  display: inline-block;
  width: auto;
  font-size: 36px;
  font-weight: 500;
  color: rgba(253, 129, 117, 1);
  line-height: 54px;
  position: relative;
}

.invite-panel .header .title::before {
  content: '';
  position: absolute;
  display: block;
  top: 27px;
  left: -40px;
  width: 24px;
  height: 2px;
  background: #feaa99;
}

.invite-panel .header .title::after {
  content: '';
  position: absolute;
  display: block;
  top: 27px;
  right: -40px;
  width: 24px;
  height: 2px;
  background: #feaa99;
}

.cell-content {
  padding: 10px 44px;
  font-size: 28px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: rgba(67, 67, 67, 1);
  line-height: 36px;
}

.cell-right {
  padding: 8px 0;
  min-width: 130px;
}

.cell-right .time {
  font-size: 28px;
  font-weight: 300;
  color: rgba(155, 155, 155, 1);
  text-align: right;
  line-height: 36px;
}

.rules-content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 46px;
  font-size: 24px;
  font-weight: 300;
  color: rgba(67, 67, 67, 1);
  height: 1000px;
  /* line-height:40rpx; */
}

.rules-content .title {
  /* display: block; */
  font-weight: 600;
}

.rules-content .text-content {
  padding: 26px 0 0 0;
  font-size: 24px;
  font-family: SourceHanSansCN;
  font-weight: 300;
  color: rgba(67, 67, 67, 1);
  line-height: 40px;
  overflow: auto;
}

.rules-content .rules-btn {
  background: rgba(229, 62, 81, 1);
  border-radius: 50px;
  text-align: center;
  width: 360px;
  height: 80px;
  font-size: 36px;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  line-height: 80px;
  margin: 20px auto 0 auto;
}

.show-more-btn {
  font-size: 32px;
  font-weight: 500;
  color: rgba(253, 129, 117, 1);
  line-height: 48px;
  text-align: center;
  text-decoration: underline;
}

.record-empty {
  display: block;
  text-align: center;
  font-size: 26px;
  color: #686868;
  text-align: center;
}
