@media(-webkit-max-device-pixel-ratio:1) {
    ::-webkit-scrollbar-track-piece {
    background-color: #ccc
    }
    ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    }
    ::-webkit-scrollbar-thumb {
    background-color: #767777;
    background-clip: padding-box;
    min-height: 28px;
    border-radius: 3px;
    }
    ::-webkit-scrollbar-thumb:hover {
    background-color: #8b8e8e;
    }
    }