.progress-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.progress-container,
.progress-container > *,
.progress-bar-text > * {
    box-sizing: border-box;
}

.activity-progress-row {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.activity-progress {
    flex-grow: 0;
}

.progress-bar-text {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 28px;
    line-height: 28px;
    margin: 9px 80px 0 80px;
    font-size: 22px;
    font-weight: 300;
    color: #e95520;
    position: relative;
}

.min-text, .max-text {
    min-width: 80px;
    flex-grow: 1;
    font-size: 22px;
    font-weight: 300;
    color: #e95520;
    height: 100%;
    line-height: 1;
    white-space: nowrap;
    text-align: center;
    padding: 0 10px;
}

.min-text {
    padding-right: 10px;
}

.max-text {
    padding-left: 10px;
}

.curr-text {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    text-align: center;
}

.progress-container .ant-progress-inner {
    background-color: #FFE2E0;
}

.progress-container .ant-progress-text {
    color: #e95520;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 0;
    height: 100%;
    line-height: 36px;
    margin-left: 8px;
    overflow: hidden;
    white-space: nowrap;
}

.progress-container .ant-progress-show-info .ant-progress-outer {
    margin-right: 0;
    padding: 0 calc(3em + 18px) 0 calc(2em + 8px);
}
