.beat-text-in-enter-active,
.beat-text-in-leave-active,
.beat-text-out-enter-active,
.beat-text-out-leave-active {
    transition: all 1s cubic-bezier(.175, .885, .32, 1);
}

.beat-text-out-enter-active,
.beat-text-out-leave-to {
    transform: translateY(-25px);
}

.beat-text-out-enter-to {
    opacity: 1;
    transform: translateY(0);
}

.beat-text-in-enter-active,
.beat-text-in-leave-to {
    transform: translateY(25px);
}

.beat-text-in-enter-to {
    opacity: 1;
    transform: translateY(0);
}
