var orderUtils = {
  getPolicyMessage : function(policyInfo) {
    if (!policyInfo.message) {
      return ''
    }
    if (policyInfo.message && policyInfo.message.indexOf('客人未进行扫码激活保险') !== -1) {
      return '';
    }
    if (policyInfo.message && policyInfo.message.indexOf('自有平台系统未投保') !== -1) {
      return '';
    }
    return '投保异常,请联系客服'
  },
  getOperateBtns: function (orderInfo) {
    // 退款中
    if (orderInfo.refundStatus === '3') {
      return [
        { btnText: '再次预定', isBg: true, btnEventName: 'onAgainBooking'}
        ]
    }
    switch (orderInfo.orderStatus) {
      case '1107': // 待入住
        return [
          { btnText: '导航', isBg: false, btnEventName: 'onOpenMapPage'}, 
        { btnText: '入住密码', isBg: true, btnEventName: 'onOpenCheckinPassword'}
        ]
      case '1207': // 待入住
        return [
          { btnText: '导航',isBg: false,btnEventName: 'onOpenMapPage'},
          { btnText: '入住密码', isBg: true, btnEventName: 'onOpenCheckinPassword'}
          ]
      case '1208': //入住中
        return [
          { btnText: '导航',isBg: false,btnEventName: 'onOpenMapPage'},
          {btnText: '入住密码',isBg: true,btnEventName: 'onOpenCheckinPassword'}
          ]
      case '1104': // 已退房
        if (orderInfo.canComment) { // 是否可以评论
          return [
            { btnText: '开发票', isBg: false, btnEventName: 'onOpenInvoice' },
            { btnText: '有奖点评', isBg: false, btnEventName: 'onOpenComment' },
            { btnText: '再次预定', isBg: true, btnEventName: 'onAgainBooking' }
          ]
        }
        return [
          { btnText: '开发票', isBg: false, btnEventName: 'onOpenInvoice' },
          { btnText: '再次预定', isBg: true, btnEventName: 'onAgainBooking' }
        ]
      case '1106': // 已取消
        return [
          {btnText: '再次预定',isBg: true,btnEventName: 'onAgainBooking'}
          ]
      case '1109': // 已关闭
        return [
          {btnText: '再次预定',isBg: true,btnEventName: 'onAgainBooking'}
          ]
    }
    return [];
  },
  getPaymentTips: function (orderInfo) {
    var checkinDate = orderUtils.setChineseDate(orderInfo.checkinDate)
    var checkoutDate = orderUtils.setChineseDate(orderInfo.checkoutDate)
    // 退款中
    if (orderInfo.refundStatus === '3') {
      return '款项将在48小时内退回原账户'
    }
    switch (orderInfo.orderStatus) {
      case '1102': // 待支付
        return '支付后才保留房间哦，请尽快完成支付'
      case '1107': // 待入住
        return checkinDate + ' 下午3点后办理入住'
      case '1207':
        return checkinDate + ' 下午3点后办理入住'
      case '1208': //入住中
        return checkoutDate + ' 中午12点前办理退房'
      case '1104': // 已退房
        return '路客精品民宿 欢迎您再次入住'
      case '1106': // 已取消
        return '因行程变化取消订单'
      case '1109': // 已关闭
        return '订单超时未支付'
    }
    return '欢迎您入住路客精品民宿';
  },
  getOrderStatusMessage: function (status) {
    switch (status) {
      case '1210': // 已拒绝
        return '您好！我是您的专属管家，有任何需要随时联系我哦~'
      case '1102': // 待支付
        return '您好！我是您的专属管家，有任何需要随时联系我哦~'
      case '1107': // 待入住
        return '随时为您提供租车、当地游、旅拍等服务，联系我有优惠哦'
      case '1207': // 待入住
        return '随时为您提供租车、当地游、旅拍等服务，联系我有优惠哦'
      case '1208': //入住中
        return '随时为您提供租车、当地游、旅拍等服务，联系我有优惠哦'
      case '1105': // 退款中
        return '您好！我是您的专属管家，有任何需要随时联系我哦~'
      case '1104': // 已退房
        return '您对行程还满意吗？写下您的入住评价还能领取优惠券哦'
      case '1106': // 已取消
        return '您好！我是您的专属管家，有任何需要随时联系我哦~'
      case '1109': // 已关闭
        return '您好！我是您的专属管家，有任何需要随时联系我哦~'
    }
    return '您好！我是您的专属管家，有任何需要随时联系我哦~'
  },
  getTipsGridBtns: function (status){
    switch (status) {
      case '1102': // 待支付
        return [{
          label: '费用疑问',
          query: 'q1',
          style: 'width: 33%;border-right: 1px solid rgba(0,0,0,0.17);'
        }, {
            label: '修改订单信息',
            query: 'q2',
            style: 'width: 33%;border-right: 1px solid rgba(0,0,0,0.17);'
          }, {
            label: '如何使用优惠',
            query: 'q3',
            style: 'width: 33%;'
          }];
      case '1107': // 待入住
        return [{
          label: '如何办理入住',
          query: 'q4',
          style: 'width: 33%;border-right: 1px solid rgba(0,0,0,0.17);'
        }, {
          label: '预约接送服务',
          query: 'q5',
            style: 'width: 33%;border-right: 1px solid rgba(0,0,0,0.17);'
        }, {
          label: '如何开发票',
          query: 'q6',
          style: 'width: 33%;'
        }];
      case '1207':
        return [{
          label: '如何办理入住',
          query: 'q4',
          style: 'width: 33%;border-right: 1px solid rgba(0,0,0,0.17);'
        }, {
          label: '预约接送服务',
          query: 'q5',
          style: 'width: 33%;border-right: 1px solid rgba(0,0,0,0.17);'
        }, {
          label: '如何开发票',
          query: 'q6',
          style: 'width: 33%;'
        }];
      case '1208': //入住中
        return [{
          label: '如何续住',
          query: 'q7',
          style: 'width: 33%;border-right: 1px solid rgba(0,0,0,0.17);'
        }, {
          label: '如何退房',
          query: 'q8',
          style: 'width: 33%;border-right: 1px solid rgba(0,0,0,0.17);'
        }, {
          label: '如何开发票',
          query: 'q6',
            style: 'width: 33%;'
        }];
      case '1105': // 退款中
        return [{
          label: '退订政策',
          query: 'q100',
          style: 'width: 50%;border-right: 1px solid rgba(0,0,0,0.17);'
        }, {
          label: '退款何时到账',
          query: 'q10',
          style: 'width: 50%;'
        }];
      case '1104': // 已退房
        return [{
          label: '行李遗失怎么办',
          query: 'q9',
          style: 'width: 50%;border-right: 1px solid rgba(0,0,0,0.17);'
        }, {
          label: '如何开发票',
          query: 'q6',
          style: 'width: 50%;'
        }];
      case '1106': // 已取消
        return [{
          label: '退订政策',
          query: 'q100',
          style: 'width: 50%;border-right: 1px solid rgba(0,0,0,0.17);'
        }, {
          label: '优惠券会退回吗',
          query: 'q12',
          style: 'width: 50%;'
        }];
      case '1109':
        return [{
          label: '退订政策',
          query: 'q100',
          style: 'width: 50%;border-right: 1px solid rgba(0,0,0,0.17);'
        }, {
          label: '优惠券会退回吗',
          query: 'q12',
          style: 'width: 50%;'
        }];
    }
    return [];
  },
  setChineseDate: function (time) {
    var date = getDate(time)
    var year = date.getFullYear()
    var month = date.getMonth() + 1
    var day = date.getDate()

    return year + '年' + month + '月' + day + '日'
  },
}
module.exports = orderUtils
