body {
  background-color: #3e7699;
}

#app {
  font-family: Georgia, sans-serif;
  text-align: center;
  position: relative;
  overflow-x: hidden;
}

.index {
  overflow-x: hidden;
  position: relative;
}

.topImg {
  position: relative;
  width: 100%;
  z-index: 99;
}

.bg {
  position: absolute;
  top: 8rem;
  left: 0;
  right: 0;
  width: 100%;
}
.topImg img {
  width: 100%;
}

.main {
  position: relative;
  left: 0;
  right: 0;
  margin-bottom: 2%;
  z-index: 99;
}

.gameView {
  padding: 0 0.16rem;
}

.gameView img {
  width: 100%;
}

.title {
  display: -webkit-flex;
  display: flex;
  margin-top: 31px;
  margin-bottom: 42px;
  -webkit-justify-content: center;
  justify-content: center;
}

.title-one {
  width: 6.706667rem;
}

.title-two {
  width: 8.466667rem;
}

.title img {
  max-width: 100%;
}

.receiveTicket-top-tip {
  height: 48px;
}
.receiveTicket {
  position: absolute;
  top: -500px;
  left: 0px;
}
.receiveTicket .takeBtn {
  width: 439px;
  height: 76px;
  margin-top: 0.48rem;
  margin-bottom: 0.773333rem;
  -webkit-animation: breath 1.1s;
  animation: breath 1.1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.lookMore {
  margin-top: 45px;
  width: 360px;
}

.receive {
  width: 100%;
  position: absolute;
  top: 12.666667rem;
  display: -webkit-flex;
  display: flex;
}

.receiveImg {
  -webkit-flex: 33.333% 1;
  flex: 33.333% 1;
  width: 3.333333rem;
  height: 4.853333rem;
}
.quan-img {
  margin: 0 auto;
  width: 90%;
}
.receiveTips {
  font-size: 0.373333rem;
  letter-spacing: 0.04rem;
  position: absolute;
  bottom: 1.066667rem;
  width: 100%;
  color: #429189;
  font-weight: 300;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.floatImg {
  width: 1.013333rem;
  height: 3.053333rem;
  position: fixed;
  right: 0;
  z-index: 100;
  top: 9.333333rem;
}

.receiveTab {
  width: 96%;
  display: -webkit-flex;
  display: flex;
  margin: 0.266667rem 2% 0;
  padding-bottom: 0.533333rem;
}

.tabCom {
  -webkit-flex: 1 1;
  flex: 1 1;
}

.tab {
  display: -webkit-inline-flex;
  display: inline-flex;
  position: relative;
  width: 181px;
  height: 70px;
  justify-content: center;
}

.tabImg {
  width: 100%;
  height: 100%;
}

.tab span {
  position: absolute;
  display: inline-block;
  line-height: 70px;
  color: rgb(247, 217, 85);
  background: rgba(30, 78, 151, 1);
  text-align: center;
  width: 100%;
  font-size: 28px;
}

.tab.ac {
  background-color: rgb(247, 217, 85);
}

.tab.ac span {
  background-color: rgb(247, 217, 85);
  color: rgb(30, 78, 151);
}

.openTips {
  width: 1.613333rem;
  height: 0.546667rem;
  position: absolute;
  left: 0.266667rem;
}

.ruleTips {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 300;
}

.ruleTips span {
  width: 1.066667rem;
  height: 1.066667rem;
  position: fixed;
  display: inline-block;
  top: 64%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.jumpToCoupon {
  position: absolute;
  width: 5.333333rem;
  height: 1.066667rem;
  top: 62%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 400;
}

.dialog {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  width: 8.506667rem;
  height: 6.653333rem;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.dialog-success .jumpToCoupon {
  top: 63%;
}

.dialog-img {
  height: 5.546667rem;
  width: 7.48rem;
}

.closeBtn {
  height: 50px;
  width: 50px;
  margin-top: 0.266667rem;
}
.closeBtn img {
  width: 100%;
  height: 100%;
}
.imgPreload {
  display: none;
}

.toast-wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  position: fixed;
  bottom: 1.333333rem;
  width: 100%;
  z-index: 9999;
}

.toast-wrap .toast {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 0.2rem 0.4rem;
}

.footer {
  margin-top: 2%;
  padding: 0 2%;
}

.footer-img {
  width: 100%;
}

@keyframes breath {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.shuqiContainer .frist-project-top {
  width: 454px;
  height: 120px;
}

.shuqiContainer .appointment {
  font-size: 20px;
  color: white;
  background-color: #3e7699;
  padding: 5px;
  border-radius: 4px;
  position: relative;
  top: -6px;
}
.shuqiContainer .price {
  width: 60%;
}
.dialog-recived-container {
  position: relative;
}
.dialog-recived-container .dialog-img2 {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  width: 60%;
}
